.venv/
__pycache__/
*.pyc
.ultralytics/

MobileSAM/.git/

weights/*.pt
weights/*.pth
!weights/.gitkeep
!weights/mobilesamv2/.gitkeep

data/*
!data/.gitkeep

checkpoints/*
!checkpoints/.gitkeep

outputs/*
!outputs/.gitkeep

logs/*
!logs/.gitkeep

.DS_Store
